* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  box-sizing: border-box;

  background-color: #b98389
  
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  list-style-type: none;
  text-decoration: none;
  
}

@media screen and (max-width: 992px) {
  .main {
    width: 50%;
  }
 
  #about {
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main {
      width: 100%;
  }
  #ann {
    
    align-items: center;
  }

  #about {
      width: 100%;
      
  }
}
